        @charset "utf-8";
        header {
            background-color: rgba(73, 69, 69, 1);
            height: 100%;
            color: white;
        }
        
        li {
            list-style: none;
        }
        
        h1 {
            font-size: 50px;
            text-align: left;
            margin-bottom: 1px;
        }
        
        h2 {
            text-align: left;
        }
        
        .header-right {
            text-align: left;
        }
        
        header a {
            background-color: white;
            color: rgba(73, 69, 69, 1);
        }
        
        header a:hover {
            background-color: wheat;
        }
        
        header a:active {
            color: white;
        }
        
        .list2 {
            margin-top: 500px;
        }
        
        footer {
            background-color: rgba(182, 166, 133, 0.89);
        }